@import '../abstract/root';

main {
  .copywriting {
    @include display(null, null, space-between, null, 26px);
    padding: 255px 165px 172px 161px;

    .copywriting__item {
      @include display(column, null, null, center);
      position: relative;
      width: 100%;
      z-index: 2;

      .copywriting__id {
        @include copywriting-id;
      }

      .copywriting__title {
        @include small-heading;
        padding: 56px 0 28px;
      }

      .copywriting__description {
        text-align: center;
      }
    }
  }
}