@import '../abstract/root';

main {
  .copywriting {
    position: relative;
    @include display(row, $wrap: wrap, $justify: space-between);
    width: 100%;
    max-width: 1440px;


    .copywriting__item {
      @include display(column, $items: center);
      width: 354px;

      .copywriting__id {
        @include copywriting-id;
      }

      .copywriting__title {
        @include small-heading;
        padding: 56px 0 28px;
      }

      .copywriting__description {
        text-align: center;
      }
    }
  }
}

@include responsive("tablet", max) {
  main {
    .copywriting {
      gap: 48px;
      padding: 0 57px;

      .copywriting__item {
        display: grid;
        grid-template-areas:
          "id title"
          "id description";
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 32px;
        row-gap: 16px;
        width: 100%;

        .copywriting__id {
          grid-area: id;
          margin-top: 45px;
        }

        .copywriting__title {
          grid-area: title;
          font-size: 28px;
          line-height: 36px;
          text-align: start;
          padding: unset;
        }

        .copywriting__description {
          grid-area: description;
          line-height: 28px;
          text-align: start;
        }
      }
    }
  }
}

@include responsive("phone", max) {
  main {
    .copywriting {
      gap: 40px;
      padding: unset;

      .copywriting__item {
        display: flex;

        .copywriting__id {
          margin: unset;
        }

        .copywriting__title {
          text-align: center;
        }

        .copywriting__description {
          text-align: center;
        }
      }
    }
  }
}