@import '../abstract/root';

footer {
  @include display($direction: column, $items: center);
  width: 100%;
  margin-bottom: 110px;

  .footer {
    @include display($direction: column, $items: center, $gap: 58px);
    width: 120px;

    .footer__logo {
      width: 95.76px;
      height: 24.61px;
    }

    .footer__nav {
      @include display($justify: space-between);
      width: 100%;

      .nav__link {
        height: 20px;

        svg:hover path {
          fill: $purple
        }
      }
    }
  }
}

@include responsive("phone", max) {
  footer {
    margin-bottom: 64px;
  }
}