@import '../abstract/root';

footer {
  @include display(column, null, null, center, 57.62px);
  padding: 0 663px 110px 661px;

  .footer__logo {
    width: 95.76px;
    height: 24.61px;
  }

  .footer__nav {
    @include display(null, null, space-between, null);
    width: 100%;

    .nav__link {
      height: 20px;

      svg:hover path {
        fill: $purple
      }
    }

  }
}