@import '../abstract/root';

main {
  .founder {
    padding: 110px 161px 60px 11.58%;

    .founder__photo {
      @include index(2);
      height: 53vh;

      img {
        height: 100%;
      }
    }

    .founder__content {
      background-color: $purple;
      @include index(3, relative);
      width: 50vw;
      padding: 64px;
      margin: 173px 0 60px 382px;

      &:after {
        content: '';
        @include background('../images/background-pattern-1.svg', bottom right, 220px 210px);
        @include index(4, absolute, 60px, -70px);
        width: 100%;
        height: 100%;
      }

      .content__title {
        @include medium-heading;
      }

      .content__description {
        color: $white;
        padding: 32px 0;
      }

      .content__button {
        padding: 13px 25px 16px;
      }
    }
  }
}