@import '../abstract/root';

main {
  .founder {
    width: 100%;
    height: 72vh;
    max-width: 1108px;
    max-height: 650px;
    position: relative;

    .founder__photo {
      @include index(2, $top: 0, $left: 0);
      height: 477px;

      img {
        height: 100%;
      }
    }

    .founder__content {
      background-color: $purple;
      @include index(3, $right: 0, $bottom: 0);
      width: 730px;
      max-width: 100%;
      padding: 64px;

      &:after {
        content: '';
        @include background('../images/background-pattern-1.svg', bottom right);
        @include index(4, absolute, $right: 72.7px);
        width: 220.30px;
        height: 211.45px;
      }

      .content__title {
        @include medium-heading;
      }

      .content__description {
        color: $white;
        padding: 32px 0;
      }

      .content__button {
        padding: 11px 23.5px 14px;
      }
    }
  }
}

@include responsive("tablet", max) {
  main {
    .founder {
      max-width: 690px;
      max-height: 530px;

      .founder__photo {
        height: 281px;
      }

      .founder__content {
        width: 514px;
        height: 375px;
        padding: 48px 56px 56px;

        &:after {
          right: 12.7px;
        }

        .content__title {
          font-size: 48px;
          line-height: 56px;
        }

        .content__description {
          line-height: 28px;
        }

        .content__button {
          font-size: 16px;
          letter-spacing: -0.16px;
          padding: 9.5px 22.09px;
        }
      }
    }
  }
}

@include responsive("phone", max) {
  main {
    .founder {
      max-width: 350px;
      max-height: 620px;
      min-height: 605px;

      .founder__photo {
        left: 50%;
        transform: translate(-50%);
      }

      .founder__content {
        @include display($direction: column, $items: center);
        padding: 32px 31px;
        min-height: 375px;

        &:after {
          display: none;
        }

        .content__title {
          font-size: 32px;
          line-height: 48px;
          text-align: center;
        }

        .content__description {
          text-align: center;
          padding: 16px 0 24px;
        }
      }
    }
  }
}