@import '../abstract/root';

main {
  .founder {
    position: relative;
    padding: 282px 165px 121.78px 545px;

    .founder__photo {
      position: absolute;
      @include background ('../images/image-founder.webp', 477px, 477px);
      @include position (109px, 163px, 1);
    }

    .founder__content {
      @include display(column, null, null, flex-start, 32px);
      position: relative;
      background-color: $purple;
      padding: 64px;
      @include position (0, 0, 2);

      .content__title {
        @include medium-heading;
      }

      .content__description {
        color: $white;
      }

      .content__button {
        padding: 11px 23.35px 14px;
      }
    }
  }
}