@import '../abstract/root';

header {
  @include display (column, null, null, null, 58px);
  padding: 56px 165px 326px 165.35px;

  .header__nav {
    @include display(null, null, space-between, center);

    .nav__link {
      @include underline (9.6px);
      color: $white;

      &:hover {
        @include hover;
      }
    }
  }

  .header__call-to-action {
    @include display(column, null, null, center, 37px);

    .call-to-action__title {
      @include large-heading;
      width: 635px;

      .call-to-action__title--highlight {
        @include underline (13px);
      }
    }

    .call-to-action__button {
      padding: 11px 30.6px 14px;
    }
  }

}