@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope:wght@400;700&display=swap');
@import './root';

* {
  box-sizing: border-box;
}

body {
  @include text;
  background-color: $white;
}

header,
main {
  position: relative;
  z-index: 2;
}

.background {
  position: absolute;
}