$default: 'Manrope', sans-serif;
$heading: 'Fraunces 144pt', serif;
$white: rgb(255, 255, 255);
$grey: rgb(88, 77, 98);
$purple: rgb(36, 5, 62);
$eucaplyptus: rgb(68, 255, 161);

@mixin text {
  font-family: $default;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: $purple;
}

@mixin large-heading {
  font-family: $heading;
  font-size: 80px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  color: $white;
}

@mixin medium-heading {
  font-family: $heading;
  font-size: 56px;
  line-height: 64px;
  font-weight: 600;
  color: $white;
}

@mixin small-heading {
  font-family: $heading;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  color: $purple;
}

@mixin copywriting-id {
  font-family: $heading;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  color: $purple;
  border: 1px solid $grey;
  border-radius: 30.5px;
  padding: 7.34px 21.34px;
}

@mixin display($direction: row, $wrap: null, $content: null, $justify: null, $items: null, $gap: null) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }

  @if $content {
    align-content: $content;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $items {
    align-items: $items;
  }

  @if $gap {
    gap: $gap;
  }
}

@mixin underline ($offset) {
  text-decoration: underline;
  text-decoration-color: $eucaplyptus;
  text-decoration-thickness: 3px;
  text-underline-offset: $offset;
}


@mixin background ($url, $align: center, $size: cover) {
  background: url($url) no-repeat;

  @if $align {
    background-position: $align;
  }

  @if $size {
    background-size: $size;
  }
}

@mixin index ($z-index, $position: absolute, $top: null, $right: null, $bottom: null, $left: null) {
  z-index: $z-index;

  @if $position {
    position: $position;
  }

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }

  @if $left {
    left: $left;
  }
}

@mixin button {
  @include text;
  font-weight: 700;
  letter-spacing: -0.18px;
  text-align: center;
  color: $purple;
  background-color: $eucaplyptus;
  border: 2px solid $eucaplyptus;
  cursor: pointer;
}

@mixin hover {
  background-color: transparent;
  color: $eucaplyptus;
}

$breakpoints: (
  "phone": 450px,
  "tablet": 1025px,
);

@mixin responsive ($width, $type: min) {
  @if map\_has\_key($breakpoints, $width) {
    $width: map\_get($breakpoints, $width);

    @if $type ==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}