@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope:wght@400;700&display=swap');

$heading-family: 'Fraunces', serif;
$default-family: 'Manrope', sans-serif;
$font-large: 80px;
$font-medium: 56px;
$font-small: 32px;
$font-default: 18px;
$line-large: 80px;
$line-medium: 64px;
$line-small: 40px;

$purple: rgb(36, 5, 62);
$ghost-white: rgb(253, 250, 255);
$white: rgb(255, 255, 255);
$eucaplyptus: rgb(68, 255, 161);
$grey: rgb(88, 77, 98);