@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: rgb(36, 5, 62);
  background-color: rgb(255, 255, 255);
  width: 100%;
}
body .smartphone {
  z-index: 2;
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 49vh;
}
body .smartphone img {
  height: 100%;
}
body:before {
  content: "";
  background: url("../images/background-main.svg") no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 0;
  position: absolute;
  top: 490px;
  width: 100%;
  height: 110%;
}

.button {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: rgb(36, 5, 62);
  font-weight: 700;
  letter-spacing: -0.18px;
  text-align: center;
  color: rgb(36, 5, 62);
  background-color: rgb(68, 255, 161);
  border: 2px solid rgb(68, 255, 161);
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: rgb(68, 255, 161);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15.55em;
  padding: 17.8% 161px 4.2% 171px;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  body .smartphone {
    top: 392px;
    width: 100%;
    height: 28.9vh;
  }
  body .smartphone img {
    height: 100%;
  }
  body:before {
    content: "";
    background: url("../images/background-main.svg") no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 405px;
    height: 89.9vh;
  }
  body main {
    padding: 203.75px 40px 80px;
    gap: 205px;
  }
}
header {
  background: url("../images/background-header.svg") no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  height: 80.4vh;
  padding: 56px 165px 316px 165.35px;
}
header:before {
  content: "";
  background: url("../images/background-pattern-1.svg") no-repeat;
  background-position: -138px 60px;
  background-size: 340px 315px;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 85%;
}
header:after {
  content: "";
  background: url("../images/background-pattern-2.svg") no-repeat;
  background-position: 103% 258px;
  background-size: 172px 180px;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 85%;
}
header .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .header__nav .nav__link {
  text-decoration: underline;
  text-decoration-color: rgb(68, 255, 161);
  text-decoration-thickness: 3px;
  text-underline-offset: 9.6px;
  color: rgb(255, 255, 255);
}
header .header__nav .nav__link:hover {
  background-color: transparent;
  color: rgb(68, 255, 161);
}
header .header__call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  width: 100%;
}
header .header__call-to-action .call-to-action__title {
  font-family: "Fraunces 144pt", serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 255, 255);
}
header .header__call-to-action .call-to-action__title .call-to-action__title--highlight {
  text-decoration: underline;
  text-decoration-color: rgb(68, 255, 161);
  text-decoration-thickness: 3px;
  text-underline-offset: 13px;
}
header .header__call-to-action .call-to-action__button {
  padding: 11px 30.6px 14px;
}

@media only screen and (max-width: 768px) {
  header {
    background-size: cover;
    height: 52.75vh;
    padding: 32px 40px 203.25px;
  }
  header:before {
    background-position: -227px 70px;
  }
  header:after {
    background-position: 689px 250px;
  }
  header .header__nav .nav__link {
    letter-spacing: -0.16px;
    text-underline-offset: 4px;
  }
  header .header__call-to-action .call-to-action__title {
    font-size: 60px;
  }
  header .header__call-to-action .call-to-action__title .call-to-action__title--highlight {
    text-underline-offset: 7.2px;
  }
  header .header__call-to-action .call-to-action__button {
    font-size: 16px;
    letter-spacing: -0.16px;
    padding: 9.5px 21.9px;
  }
}
main .copywriting {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}
main .copywriting .copywriting__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 354px;
}
main .copywriting .copywriting__item .copywriting__id {
  font-family: "Fraunces 144pt", serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  color: rgb(36, 5, 62);
  border: 1px solid rgb(88, 77, 98);
  border-radius: 30.5px;
  padding: 7.34px 21.34px;
}
main .copywriting .copywriting__item .copywriting__title {
  font-family: "Fraunces 144pt", serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  color: rgb(36, 5, 62);
  padding: 56px 0 28px;
}
main .copywriting .copywriting__item .copywriting__description {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  main .copywriting {
    gap: 48px;
    padding: 0 57px;
  }
  main .copywriting .copywriting__item {
    display: grid;
    grid-template-areas: "id title" "id description";
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 16px;
    width: 100%;
  }
  main .copywriting .copywriting__item .copywriting__id {
    grid-area: id;
    margin-top: 45px;
  }
  main .copywriting .copywriting__item .copywriting__title {
    grid-area: title;
    font-size: 28px;
    line-height: 36px;
    text-align: start;
    padding: unset;
  }
  main .copywriting .copywriting__item .copywriting__description {
    grid-area: description;
    line-height: 28px;
    text-align: start;
  }
}
main .founder {
  width: 100%;
  height: 72vh;
  max-width: 1108px;
  max-height: 650px;
  position: relative;
}
main .founder .founder__photo {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 477px;
}
main .founder .founder__photo img {
  height: 100%;
}
main .founder .founder__content {
  background-color: rgb(36, 5, 62);
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 730px;
  max-width: 100%;
  padding: 64px;
}
main .founder .founder__content:after {
  content: "";
  background: url("../images/background-pattern-1.svg") no-repeat;
  background-position: bottom right;
  background-size: cover;
  z-index: 4;
  position: absolute;
  right: 72.7px;
  width: 220.3px;
  height: 211.45px;
}
main .founder .founder__content .content__title {
  font-family: "Fraunces 144pt", serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
main .founder .founder__content .content__description {
  color: rgb(255, 255, 255);
  padding: 32px 0;
}
main .founder .founder__content .content__button {
  padding: 11px 23.5px 14px;
}

@media only screen and (max-width: 768px) {
  main .founder {
    max-width: 690px;
    max-height: 530px;
  }
  main .founder .founder__photo {
    height: 281px;
  }
  main .founder .founder__content {
    width: 514px;
    height: 375px;
    padding: 48px 56px 56px;
  }
  main .founder .founder__content:after {
    right: 12.7px;
  }
  main .founder .founder__content .content__title {
    font-size: 48px;
    line-height: 56px;
  }
  main .founder .founder__content .content__description {
    line-height: 28px;
  }
  main .founder .founder__content .content__button {
    font-size: 16px;
    letter-spacing: -0.16px;
    padding: 9.5px 22.09px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 110px;
}
footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  width: 120px;
}
footer .footer .footer__logo {
  width: 95.76px;
  height: 24.61px;
}
footer .footer .footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
footer .footer .footer__nav .nav__link {
  height: 20px;
}
footer .footer .footer__nav .nav__link svg:hover path {
  fill: rgb(36, 5, 62);
}/*# sourceMappingURL=style.css.map */